@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}
header {
  z-index: 3;
}

.hamburgerMenu {
  display: none;
}

.hamburgerMenuDisplay {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 60%;
  min-width: 300px;
  z-index: 100000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition:
    right 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
}

.hamburgerMenuDisplay.show {
  right: 0;
  opacity: 1;
}

input {
  border: 2px solid black;
}

.pop-out-animation {
  transition: transform 0.5s ease-in-out;
}

.pop-out-animation:hover {
  animation: pop-out 0.5s forwards;
}

.pop-out-animation:not(:hover) {
  animation: pop-in 0.5s forwards;
}

.date-picker::-webkit-calendar-picker-indicator {
  display: none;
}

/* Log in & Sign up */

.sign-in {
  visibility: visible;
  opacity: 1;
  z-index: 5;
}

.sign-up {
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.toggleContainer {
  transition: all 0.6s ease-in-out;
}

.toggle {
  transition: all 0.6s ease-in-out;
}

.form-container {
  transition: all 0.6s ease-in-out;
}

.toggle-panel {
  transition: all 0.6s ease-in-out;
}

.cont.active .sign-in {
  transform: translateX(100%);
  opacity: 0;
  z-index: 1;
  visibility: hidden;
}

.cont.active .sign-up {
  transform: translateX(100%);
  visibility: visible;
  opacity: 1;
  z-index: 5;
  animation: move 0.6s ease-in-out;
}

@keyframes move {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.cont.active .toggleContainer {
  transform: translateX(-100.1%);
  border-radius: 0 130px 130px 0;
}

.cont.active .toggle {
  transform: translateX(50%);
}

.cont.active .toggleLeft {
  transform: translateX(0);
}

.cont.active .toggleRight {
  transform: translateX(200%);
}

@keyframes pop-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes pop-in {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/*RESPONSIIVINEN SUUNNITTELU:*/

/*Tässä header, footer responsive

/*TABLETTI*/
@media (max-width: 1024px) {
  /*HEADER*/
  .hamburgerMenu {
    display: flex;
  }
  #navBar > ul > li {
    display: none;
  }
  .logoContainer {
    display: none;
  }
  .languageContainer {
    display: none;
  }
  .vitunSepari {
    display: none;
  }

  /*BG*/
  .bg {
    padding: 0;
  }
  /*contentContainer*/
  .contentContainer {
    padding: 5px;
  }
  /*headingContainer*/
  .headingContainer {
    padding: 30px;
  }
  .headingTitle {
    font-size: 50px;
  }
}

/*PUHELIN*/
@media (max-width: 768px) {
  /*FOOTER*/
  .footerTextContainer {
    flex-direction: column;
    justify-content: start;
    padding: 0;
  }
  .headingTitle {
    font-size: 40px;
  }
}

/*PIENI PUHELIN*/
@media (max-width: 400px) {
  .headingTitle {
    font-size: 30px;
  }
}
