@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}
header {
  z-index: 3;
}

.hamburgerMenu {
  display: none;
}

.hamburgerMenuDisplay {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 60%;
  min-width: 300px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition:
    right 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
}

.hamburgerMenuDisplay.show {
  right: 0;
  opacity: 1;
}

.scene {
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition-duration: 2s;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fs {
  position: absolute;
  color: white;
  width: 90%;
  height: 90%;
}

.l-u-front {
  backface-visibility: hidden;
}

.l-u-back {
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.r-front {
  backface-visibility: hidden;
}

.r-back {
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.l-l-front {
  backface-visibility: hidden;
}

.l-l-back {
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card.flip {
  transform: rotateY(-180deg);
}

input {
  border: 2px solid black;
}

.pop-out-animation {
  transition: transform 0.5s ease-in-out;
}

.pop-out-animation:hover {
  animation: pop-out 0.5s forwards;
}

.pop-out-animation:not(:hover) {
  animation: pop-in 0.5s forwards;
}

.date-picker::-webkit-calendar-picker-indicator {
  display: none;
}

/* Log in & Sign up */

.sign-in {
  visibility: visible;
  opacity: 1;
  z-index: 5;
}

.sign-up {
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.toggleContainer {
  transition: all 0.6s ease-in-out;
}

.toggle {
  transition: all 0.6s ease-in-out;
}

.form-container {
  transition: all 0.6s ease-in-out;
}

.toggle-panel {
  transition: all 0.6s ease-in-out;
}

.cont.active .sign-in {
  transform: translateX(100%);
  opacity: 0;
  z-index: 1;
  visibility: hidden;
}

.cont.active .sign-up {
  transform: translateX(100%);
  visibility: visible;
  opacity: 1;
  z-index: 5;
  animation: move 0.6s ease-in-out;
}

@keyframes move {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.cont.active .toggleContainer {
  transform: translateX(-100.1%);
  border-radius: 0 130px 130px 0;
}

.cont.active .toggle {
  transform: translateX(50%);
}

.cont.active .toggleLeft {
  transform: translateX(0);
}

.cont.active .toggleRight {
  transform: translateX(200%);
}

@keyframes pop-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes pop-in {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/*Tabletti*/
@media (max-width: 1024px) {
  .hamburgerMenu {
    display: flex;
  }
  #navBar > ul > li {
    display: none;
  }
  .logoContainer {
    display: none;
  }
  .languageContainer {
    display: none;
  }
  .vitunSepari {
    display: none;
  }
  .carouselArrowContainer {
    height: calc(100vh - 80px);
  }
  /* Pidä logIn painike näkyvissä */
  .loginButton {
    display: flex !important;
  }
}
/*Puhelin*/
@media (max-width: 768px) {
  /* MAIN PAGE */

  .mainView {
    height: calc(50vh - 80px) !important;
    min-height: calc(500px - 80px);
  }
  .videoBg {
    height: 50vh;
    min-height: 500px;
  }
  .carouselArrowContainer {
    height: calc(50vh - 80px);
  }
  .restInfoContainer {
    padding: 0px;
    height: 50vh;
    min-height: 500px;
  }
  .infoTextElement {
    width: 80%;
    font-size: 16px;
    padding-bottom: 0;
  }
  .infoBtnContainer {
    margin-bottom: 40px;
  }
  .tableTextElement {
    width: 80%;
    font-size: 16px;
    padding-bottom: 0;
  }

  /*FOOTER*/
  .footerTextContainer {
    flex-direction: column;
    justify-content: start;
  }
}

@media (max-width: 450px) {
  .infoHeading {
    font-size: 2rem;
  }
  .restInfoContainer {
    height: auto;
  }
  .tabelResContainer {
    height: auto;
  }
}

@media (max-width: 450px) {
  .carouselContainer {
    display: none;
  }
  .carouselArrowContainer {
    display: none;
  }
}
